.container {
	margin: 40px auto;
}
img {
	margin: 20px 0;
}
.lead {
	margin: 20px 0;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item-heading:hover {
	color: #444;
}
pre {
	cursor: default;
}
.list-group-item {
	margin-top: 5px;
	margin-bottom: 5px;
}
