<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>PyPy - packages</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11337039-19', 'auto');
      ga('send', 'pageview');

    </script>
    
    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="notes.js"></script>
    <script src="app.js"></script>

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">

  </head>

  <body ng-controller="main">
    <div class="container">

      <div class="text-center">
	   <h1 class="cover-heading">PyPy's Python packages compatibility</h1>
	   
	   <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Pypy_logo.png"/>
      </div>
    
      <p class="lead">
	<a href="http://pypy.org/">PyPy</a> is a <a href="http://speed.pypy.org">fast</a>,
	<a href="http://pypy.org/compat.html">compliant</a> alternative implementation of the Python language.
	Nearly all Python packages install properly on PyPy. This page shows what happens
	when you use pip to install the 1000 most-downloaded package from pypi.python.org.	
	This list is done automatically, however we can make manual overrides as well as add
        additional info and install additional packages. Issue a
	<a href="https://github.com/baroquesoftware/pypy.packages">pull request</a> or get in touch using
	<a href="mailto:contact@baroquesoftware.com">email</a>.
      </p>

      <div class="list-group">
	<div href="" class="list-group-item" ng-repeat="item in packages" 
	     ng-class="{'list-group-item-success': item[1].status == 0, 'list-group-item-danger': item[1].status != 0}">
	  <h4 class="list-group-item-heading" ng-click="show(item)">
	    {{ item[0] }}
	    <span class="badge pull-right">downloads: {{ item[1].count }}</span>
	  </h4>

	  <i ng-if="note(item[0])"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ note(item[0]) }}</i>
	  <pre ng-show="item[1].show" class="list-group-item-text">{{ item[1].log }}</pre>
	</div>
      </div>
    </div>

  </body>
</html>
